*{
    margin: 0 ;padding: 0;
    box-sizing: border-box;
     font-family: "Sour Gummy", sans-serif;
     outline: none; border: none;
     text-decoration: none;
     text-transform: capitalize;
     transition: .2s linear;
}

@media (max-width: 900px) {
    html{
        font-size: 62.5%;
    }

    header{
        padding: 2rem;
    }
}

body{
    background-color: #334460;
}

header{
    position: absolute;
    color: white;  
    top:0; left:0; right: 0;
    padding: 2rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    z-index: 1000;
}

header .logo{
    font-size: 2rem;
    font-weight: bolder;
    cursor: pointer;
}

header .navbar a{
    font-size: 2rem;
    color: white;
    margin-left: 2rem;
}

header .navbar a:hover, .navbar a.active{
    border-bottom: 2px solid white;
}

section{
    padding: 2rem 5%;
}

.home-page{
    position: relative;
    color: white;
    width: 100%;
    min-height: 65vh;
    align-items: center;
    background: url('/assets/banner_spirited_away.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}

.home-page .home-content{
    max-width: 50rem;
}

.home-page .home-content h2{
    font-size: 2rem;
}

.home-page .home-content h1{
    font-size: 4rem;
}

.home-page .home-content h3{
    font-size: 1.5rem;
}

.home-page .home-content button{
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 30px;
    background-color: #4185c0;
    color: white;
}


